p {
    font-size: 2em;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    text-align: left;
    padding: 1em;
    transform: rotate(-45deg);
    background-color: rgb(36, 25, 152);
    border: rgb(170, 0, 255) dashed 5px;
    margin: 0;
}

p:hover {
    color: rgb(200, 23, 23);
}

h1 {
    margin-top: 1in;
}

#button {
    font-weight: bold;
}

.intro {
    color: rgb(74, 188, 112);
}


@keyframes Demo {
    from {
        font-size: 5vh;
    }

    95% {
        font-size: 21vh;
    }

    to {
        font-size: 5vh
    }
}