.body {
    display: flex;
    flex-direction: column;
    min-width: 344px;
    margin: 0;
    background-color: blue;
}
header {
    flex: 0 80px;
}
main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer {
    flex: 0 30px;
    padding: 0px;
    border: 0px;
}
nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 60px;
    padding: 5px;
    background-color: darkorange;
}
menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }
.nav-item {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-column: 2/3;
    gap: 15px;
}
.nav-name {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: clamp(16px, 2vh, 40px);
    padding: 10px;
    align-items: center;
}
.login-container {
    width: 100%; 
    max-width: 500px; 
    min-width: 50px; 
    
    margin: 10vh auto;
    padding: 10px;
    background: rgb(203, 197, 197);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
}


.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    word-wrap: break-word; 
}

.login-container button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}
.nav-link:hover {
    transform: scale(1.2);
}